
<%= t('Dashboard') %>

<div class="container">
	<div class = "span12">
			<div class = "span2 profileContainer scrollbar" id="style-7">
				<div class="force-overflow">
					<%= g(current_user, 'img-circle', size:170) %>
					Welcome <h5> <%= current_user.username.upcase %> </h5>!
					<hr>
				<div>
					<ul class="nav nav-tabs nav-stacked">
						<li><a href = "#" title = "Edit Profile">Edit Profile</a></li>
						<li><a id = "new_note_btn" href="#" title = "New Note">Add Note</a></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete, confirm:"Logout?" %> </li>
						<li class="top20"> 
							<div class="accordion" id="accordion2">
								<div class="accordion-group">
									<div class="accordion-heading">
										<%= link_to "View Notes(#{@unplaced_notes.size})", "#collapseOne", class:"accordion-toggle", data:{toggle:"collapse",parent:"#accordion2"} %>
									</div>

									<div id="collapseOne" class="accordion-body collapse">
										<div class="accordion-inner">
											<%= render(partial:"note",collection:@unplaced_notes) || "No notes." %>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<%= image_tag "stickynote.png", id:"drag1", class:"draggable" %>
					<img src="img/stickynote.png" id = "drag1" class = "draggable">
					<img src="img/stickynote.png" id = "drag1" class = "draggable">
					<img src="img/stickynote.png" id = "drag1" class = "draggable">
					<img src="img/stickynote.png" id = "drag1" class = "draggable">
				</div>
			</div>
		</div>
			<div class = "span10 dashboard"> 
				<div>
					<div class="span3 dashHeader">
						<%= image_tag "priority.png", alt:"Priority" %>
					</div>

					<div class="span3 dashHeader">
						<%= image_tag "reminder.png", alt:"Reminder" %>
					</div>

					<div class="span3 dashHeader">
						<%= image_tag "anything.png", alt:"Anything" %>
					</div>
				</div>

				<div>
					<div class = "span3 section scrollbar" id = "style-6">
						<div class="force-overflow" ></div>
					</div>
					<div class = "span3 section scrollbar" id = "style-6">
						<div class="force-overflow" ></div>
					</div>
					<div class = "span3 section scrollbar" id = "style-6">
						<div class="force-overflow" ></div>
					</div>
				</div>
			</div>


</div>

	<div id="add_account" class="modal hide fade">
		  <div class="modal-header" 
			style = "background: #499bea; /* Old browsers */
			background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
			background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
			copy">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3><span style = "color:white">New Note</span></h3>
		</div>

		<%= form_for @note do |f| %>
			<div class="modal-body">
				<div style = "width:90%;margin-left:5%;text-align:center">	
					<div id="result" class="alert alert-info">
						<strong>Note:</strong> All fields are required. Content should be atleast 5 characters in length
					</div>
				</div>	
				<div class = "offset2">
						<%= f.text_field :title, placeholder:"title", class:"input-xlarge" %>
						<%= f.text_area :content, style:"height:100px;resize:none", placeholder:"content", class:"input-xlarge" %>
				</div>
			</div>
			<div class="modal-footer">
				<%= f.submit "Save", class:"btn btn-primary", id:"save_note" %>
				<a href="#" class="btn" id="single_close">Close</a>
			</div>
		<% end %>
	</div>		

