	<div class = "row-fluid" style = "background: #fff; padding: 20px">	
		<div class = "span4 offset4">
			
			<h2 style = "color:#333">Edit <%= resource_name.to_s.humanize %></h2>
			<hr style = "width:100%">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
				<%= devise_error_messages! %>
					<div class="control-group">
					  <!-- Text input-->
						<label class="control-label" for="input01">
							<span style="font-weight:bold;color:#333">Username:</span>
						</label>
							<div class="controls">
								 <%= f.text_field :username, autofocus: true, style:"width:100%" %>
							</div>
					</div>
					<div class="control-group">
					  <!-- Text input-->
						<label class="control-label" for="input01">
							<span style="font-weight:bold;color:#333">Email:</span>
						</label>
							<div class="controls">
								 <%= f.email_field :email, style:"width:100%" %>
							</div>
					</div>
					
					  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
					  <% end %>					
					  
					<div class="control-group">
					  <!-- Text input-->
						<label class="control-label" for="input01">
							<span style="font-weight:bold;color:#333">Password:</span>
						</label>
							<div class="controls">
								 <%= f.password_field :password, :autocomplete => "off", style:"width:100%" %>
								<span class="help-block" style="font-size:12px; color:#84888B">(leave blank if you don't want to change it)</span>
							</div>
					</div>

					<div class="control-group">
					  <!-- Text input-->
						<label class="control-label" for="input01">
							<span style="font-weight:bold;color:#333">Confirm Password:</span>
						</label>
							<div class="controls">
								 <%= f.password_field :password, :autocomplete => "off", style:"width:100%" %>
								<span class="help-block" style="font-size:12px; color:#84888B">(leave blank if you don't want to change it)</span>
							</div>
					</div>		

					<div class="control-group">
					  <!-- Text input-->
						<label class="control-label" for="input01">
							<span style="font-weight:bold;color:#333">Current Password:</span>
						</label>
							<div class="controls">
								<%= f.password_field :current_password, style:"width:100%" %>
							</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.submit "Update", class:"pull-right" %>
						</div>
					</div>						
			<% end %>
			<hr style = "width:100%">
			
			<h3 style = "color:#333">Cancel my account</h3>

			<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
		</div>
	</div>