
<div class="left-profile">
	<%= image_tag "rails.png", class:"img-circle", style:"width:128px;height:128px" %>
	<p> Welcome <%= current_user.username %> </p>

	<div class="top20">
		<ul>
			<li> <%= link_to "Dashboard", notes_path %> </li>
			<li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
			<li> <%= link_to "New Note", new_note_path %> </li>
			<li> <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		</ul>
	</div>
</div>

