<!DOCTYPE html>
<html>
<head>
	<title> <%= yield :title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  	<style type="text/css">
		html,body {
			height:100%;
		}
		#wrap {
			min-height:100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -60px;
		}
		#push,#footer {
			height: 60px;
		}
		#footer {
			background-color: #F5F5F5;
		}
	</style>
</head>
<body>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h1> Header <small> description </small> </h1>
				<hr />
			</div>
		</div>

		<% if notice %>
			<div class="alert alert-success">
				<%= notice %>
			</div>
		<% end %>

		<% if alert %>
			<div class="alert alert-error">
				<%= alert %>
			</div>
		<% end %>

		<div class="row-fluid">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
